.createEmp {
    width: 50%;
}
.emp {
    width: 80%;
}

.table-wrapper-scroll-y {
    height: 500px; 
    overflow-y: auto;
    overflow-x: hidden;
  }
.table-wrapper-scroll-x {
  width: 100%;
  overflow-x: auto;
  max-width: 100%;

}


.my-custom-scrollbar {
    position: relative;
    max-height: 100%;
    overflow: auto;
  }
  .details {
    width: 40%;
  }
  .empimg {
    width: 100%;
    display: flex;
    justify-content: end;
    top: 0;
  }
@media only screen and (max-width: 800px) {
    .createEmp{
        width: 100%;
    }
    .emp {
        width: 100%;
    }
    .details {
      width: 100%;
    }
}